In [6]:
# Imports
from typing import List
import array
import numpy as np
import pandas as pd
import collections

### __len__ and__getitem__ to enable slicing

In [13]:
class LenSlicing:
    """Test the usage of __len__ and __getitem__ to enable slicing of a custom class object"""
    def __init__(self, lst: List) -> None:
        self.lst = lst
        
    def __len__(self) -> int:
        return len(self.lst)
    
    def __getitem__(self, position: int) -> any:
        return self.lst[position]

In [4]:
test = LenSlicing(['a', 'b', 'c'])
test[1]

'b'

In [12]:
len(test)

3

### Walrus operator to save variable in a comprehension

In [6]:
x = 'ABC'

codes = [ord(x) for x in x]
codes

[65, 66, 67]

In [8]:
codes = [last := ord(_) for _ in x]
codes

[65, 66, 67]

In [9]:
last

67

### Listcomps X map() and filter()

In [16]:
x = 'ABCZXYJ'

listcomp = [last := ord(_) for _ in x if ord(_) > 67]
listcomp

[90, 88, 89, 74]

In [17]:
map_filter = list(filter(lambda _: _ > 67, map(ord, x)))
map_filter

[90, 88, 89, 74]

### Cartesian products with listcomps

* Listcomps cam build lists from the cartesian product of two or more iterables. 
* The itens will be stored in tuples made from itens from every input iterable.
* The resulting list will has the lenght equal to the lenghts of the input iterables multiplied.

In [25]:
colors = ["black", "white", "green", "gray"]
sizes = ["xs", "s", "m", "l", "xl"]

colors_plus_size = [
    (color, size.upper()) for color in colors for size in sizes
]
colors_plus_size

[('black', 'XS'),
 ('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('black', 'XL'),
 ('white', 'XS'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L'),
 ('white', 'XL'),
 ('green', 'XS'),
 ('green', 'S'),
 ('green', 'M'),
 ('green', 'L'),
 ('green', 'XL'),
 ('gray', 'XS'),
 ('gray', 'S'),
 ('gray', 'M'),
 ('gray', 'L'),
 ('gray', 'XL')]

### Generator expressions

* To initialize tuples, arrays, and other types of sequences, you could also start from a listcomp, but a genexp (Generator Expression) saves memory because it yields items one by one using the iterator protocol instead of building a whole list just to feed another constructor.
* Genexp uses the same syntax as listcomps, but are neclosed in parentheses rather than brackets.
* The genexp does not build the objects in memory, the genexp feeds the for loop producting one item at a time.
* For the tshirts example, if the two lists used in the cartesian product had a thousend items each, using a GENERATOR EXPRESSION would save the cost of building a list with A MILLION items just to feed the for loop.

In [32]:
# genexp tuple

x = 'ABCZXYJ'

genexp_tuple = tuple(ord(_) for _ in x)
genexp_tuple

(65, 66, 67, 90, 88, 89, 74)

In [34]:
# genexp array

genexp_array = array.array("I", (ord(_) for _ in x))
genexp_array

# array.array takes two arguments, the first element refers to the storage type "I"
"""
Type code   C Type             Minimum size in bytes
    'b'         signed integer     1
    'B'         unsigned integer   1
    'u'         Unicode character  2 (see note)
    'h'         signed integer     2
    'H'         unsigned integer   2
    'i'         signed integer     2
    'I'         unsigned integer   2
    'l'         signed integer     4
    'L'         unsigned integer   4
    'q'         signed integer     8 (see note)
    'Q'         unsigned integer   8 (see note)
    'f'         floating point     4
    'd'         floating point     8
"""

array('I', [65, 66, 67, 90, 88, 89, 74])

In [35]:
colors = ["black", "white", "green"]
sizes = ["s", "m", "l"]

colors_plus_size = [
    (color, size.upper()) for color in colors for size in sizes
]
colors_plus_size

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L'),
 ('green', 'S'),
 ('green', 'M'),
 ('green', 'L')]

In [41]:
for tshirt in (f"{c}, {s.upper()}" for c in colors for s in sizes):
    print(tshirt)
    
# The generator expression yields items one by one; a list with all tshirts variations is never produced in this example.
# Here the idea is to use generator expressions to produce outputs that you don't need to keep in memory.

black, S
black, M
black, L
white, S
white, M
white, L
green, S
green, M
green, L

### Tuples unpacking - iterable unpacking

* Each element in the tuple is being assigned to a variable.

In [43]:
city, year, population, area = ("Tokio", 2023, 32_450_000, 8014)

display(city)
display(year)
display(population)
display(area)

'Tokio'

2023

32450000

8014

* The % formatting operator understands tuples and treats each item as a separate field.

In [47]:
traveler_ids = [("USA", "319221", 1), ("BRA", "CE12345", 2), ("GER", "DE32154", 3)]

for passport in sorted(traveler_ids):
    print("%s/%s - %i" % passport)

BRA/CE12345 - 2
GER/DE32154 - 3
USA/319221 - 1

### Tuple as immutable list

In [48]:
a = (10, "alpha", [1, 2])
b = (10, "alpha", [1, 2])

a == b

True

In [49]:
b[-1].append(99)
display(b)

a == b

(10, 'alpha', [1, 2, 99])

False

### Using * to grab excess items

In [50]:
a, b, *rest = range(5)

display(a)
display(b)
display(rest)

0

1

[2, 3, 4]

In [51]:
a, b, *rest = range(2)

display(a)
display(b)
display(rest)

0

1

[]

In [52]:
a, *body, c, d = range(5)

display(a)
display(body)
display(c)
display(d)

0

[1, 2]

3

4

In [53]:
*head, b, c, d = range(5)

display(head)
display(b)
display(c)
display(d)

[0, 1]

2

3

4

In [62]:
a = *range(4), 4
a

(0, 1, 2, 3, 4)

In [63]:
type(a)

tuple

In [55]:
[*range(4), 4]

[0, 1, 2, 3, 4]

In [56]:
{*range(4), 4, *(5, 6, 7)}

{0, 1, 2, 3, 4, 5, 6, 7}

In [65]:
a, b, *_ = range(4)
print(f"{a} - {b}")

0 - 1

In [57]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [59]:
def match_lat_lon():from platform import python_version
    print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
    for name, _, _, (lat, lon) in metro_areas:
        if lon<= 0:
            print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')

In [60]:
match_lat_lon()

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

### MATCH/CASE

In [9]:
def calculate_bonus(performance: str) -> int:
    bonus = 0
    match performance:
        case "excellent":
            bonus = 1000
        case "good":
            bonus = 500
        case "poor":
            bonus = 0
        case _: # default value
            bonus = -1

    return bonus

In [10]:
calculate_bonus("excellent")

1000

In [11]:
calculate_bonus("test")

-1

### Difference between list.sort() and sorted(list)

In [16]:
fruits = ["grape", "raspbarry", "apple", "banana"]

In [17]:
sorted(fruits)

['apple', 'banana', 'grape', 'raspbarry']

In [18]:
fruits

['grape', 'raspbarry', 'apple', 'banana']

In [23]:
sorted(fruits, reverse=True)

['raspbarry', 'grape', 'banana', 'apple']

In [24]:
sorted(fruits, key=len)

['grape', 'apple', 'banana', 'raspbarry']

In [26]:
sorted(fruits, key=max)

['banana', 'apple', 'grape', 'raspbarry']

In [28]:
sorted(fruits, key=min, reverse=True)

['grape', 'raspbarry', 'apple', 'banana']

In [29]:
sorted(fruits, key=str.lower, reverse=True)

['raspbarry', 'grape', 'banana', 'apple']

In [30]:
fruits.sort()

In [31]:
fruits

['apple', 'banana', 'grape', 'raspbarry']

### "setdefault()" method to handling with missing keys in a Python dictionary

One practical usage of the setdefault() method is when working with dictionaries that contain lists or other mutable objects as values. In such cases, setdefault() can be used to easily add new items to the list without having to check if the key already exists in the dictionary.

In [8]:
# Creating a dictionary with list values
my_dict = {'apples': [1, 2, 3], 'oranges': [4, 5]}

# Adding a new value to the list for an existing key using setdefault()
my_dict.setdefault('apples', []).append(4)
my_dict.setdefault('oranges', []).append(6)
my_dict.setdefault('pears', []).append(1)

# Printing the updated dictionary
print(my_dict)

{'apples': [1, 2, 3, 4], 'oranges': [4, 5, 6], 'pears': [1]}

In [4]:
d["four"]

KeyError: 'four'

In [6]:
d.setdefault("four", None)

In [7]:
d

{'one': 1, 'two': 2, 'three': 3, 'four': None}

### collections.defaultdict

In [13]:
words = ["apple", "orange", "banana", "banana", "orange", "banana"]
words *= 3

word_counts = collections.defaultdict(int)

for word in words:
    word_counts[word] += 1 
    
print(word_counts)

defaultdict(<class 'int'>, {'apple': 3, 'orange': 6, 'banana': 9})

### Slicing multidimensional arrays and DataFrames.

In [2]:
my_array = np.array(
    [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]])

In [5]:
display(my_array[:, 0])
display(my_array[:, 1])
display(my_array[:, 2])

array([1, 4, 7])

array([2, 5, 8])

array([3, 6, 9])

In [6]:
display(my_array[0, :])
display(my_array[1, :])
display(my_array[2, :])

array([1, 2, 3])

array([4, 5, 6])

array([7, 8, 9])

In [8]:
display(my_array[:2, :])
display(my_array[:, :2])

array([[1, 2, 3],
       [4, 5, 6]])

array([[1, 2],
       [4, 5],
       [7, 8]])

In [14]:
df = pd.DataFrame(np.random.randint(0,100,size=(15, 4)), columns=list('ABCD'))

In [16]:
df.head()

    A   B   C   D
0  69  45  91  68
1  62  31  31  71
2  54  28  78  87
3  45  14  74  29
4  32   0  77  26

In [24]:
display(df.loc[1:3, ["A", "C"]])
display(df.iloc[1:4, [0, 2]])

    A   C
1  62  31
2  54  78
3  45  74

    A   C
1  62  31
2  54  78
3  45  74

### `__mising__` method to set default values to dict subclasses

In [1]:
a = {"one": 1, "two": 2}

display(a["one"])
display(a["three"])

1

KeyError: 'three'

In [2]:
class DictSubClass(dict):
    def __missing__(self, key):
        return f"This is a default value for key {key}"

In [5]:
b = DictSubClass({"one": 1, "two": 2})

display(b["one"])
display(b["TEST"])

1

'This is a default value for key TEST'

### Pydentic to define and validade data models

In [2]:
from pydantic import BaseModel, HttpUrl, PositiveFloat, PositiveInt


class Product(BaseModel):
    name: str
    description: str
    price: PositiveInt
    discount: PositiveFloat
    url: HttpUrl
    in_stock: bool

prod_data = {
    'name': 'Widget',
    'description': 'A useful widget',
    'price': '1999',
    'discount': '0.5',
    'url': 'http://test.com',
    'in_stock': True
}

prod = Product(**prod_data)

print(f"\033[92m{prod}\033[0m")

name='Widget' description='A useful widget' price=1999 discount=0.5 url=HttpUrl('http://test.com', ) in_stock=True

### map() with multiple iterators

In [4]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]

l1l2 = map(lambda n1, n2: n1 + n2, l1, l2)
[*l1l2]

[5, 7, 9]

### Sets
**A set is a collection of immutable objects**

In [12]:
# Removing duplications from a list

l = ["banana", "banana", "apple", "orange", "orange", "grape", "grape", "banana", "orange"]

decuplicated_l = list(set(l))
decuplicated_l

['apple', 'grape', 'orange', 'banana']

In [13]:
# Remove duplicates preserving the order of items -> use dict

deduplicated_ordered = list(dict.fromkeys(l).keys())
deduplicated_ordered

['banana', 'apple', 'orange', 'grape']

In [14]:
# Count occurences of a subset in a set

sub = ["banana", "grape"]

found = len(set(sub) & set(l))
found

2

In [16]:
intersection = set(sub).intersection(l)
found = len(intersection)
found

2

In [17]:
intersection

{'banana', 'grape'}

In [22]:
# frozenset

frset = frozenset(range(10))
frset

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

In [24]:
# Working with sets and other iterables

a = [1, 2, 3, 4, 2, 1, 5, 6]
b = [4, 6, 7, 8, 1, 2, 3, 3]
c = [11, 23, 1, 44, 5, 44, 1, 23, 11]

st = {1, 3, 5, 22, 11}

stac = st.union(a, c)
set_abc = {*a, *b, *c}


display(stac)
display(set_abc)

{1, 2, 3, 4, 5, 6, 11, 22, 23, 44}

{1, 2, 3, 4, 5, 6, 7, 8, 11, 23, 44}

### Data Class Builders

In [32]:
# imports 

from collections import namedtuple
from typing import NamedTuple
from dataclasses import dataclass

In [35]:
# collections.namedtuple

coordinate_01 = namedtuple("Coordinate_01", "lat lon")
issubclass(coordinate_01, tuple)

True

In [38]:
moscow = coordinate_01(55.576, 37.617)
display(moscow)
display(moscow == coordinate_01(55.576, 37.617))

# collections.namedtuple has a useful __repr__ and a meaningful __eq__ methods, but there is no type annotation

Coordinate(lat=55.576, lon=37.617)

True

In [39]:
# typin.NamedTuple

coordinate_02 = NamedTuple("Coordinate_02", [("lat", float), ("lon", float)])
issubclass(coordinate_02, tuple)

True

In [41]:
import typing

typing.get_type_hints(coordinate_02)

{'lat': float, 'lon': float}

In [42]:
coordinate_03 = NamedTuple("Coordinate_03", lat=float, lon=float)
lat_lon = {"lat": 55.576, "lon": 37.617}
display(coordinate_03(**lat_lon))

Coordinate_03(lat=55.576, lon=37.617)

In [50]:
coordinate_03.__annotations__

{'lat': float, 'lon': float}

In [52]:
lat_lon_02 = {"lat":11.111, "lon": 22.222}
coordinate_03._replace(**lat_lon_02)
display(coordinate_03)

TypeError: Coordinate_03._replace() missing 1 required positional argument: 'self'

In [43]:
# dataclass

@dataclass(frozen=True)
class Coordinate_04:
    lat: float
    lon: float
    
    def __str__(self) -> str:
        return f"Coordinate_04[lat={self.lat:r!}, lon={self.lon:r!}]"

In [45]:
coordinate_04 = Coordinate_04(lat=55.576, lon=37.617)
display(coordinate_04)

Coordinate_04(lat=55.576, lon=37.617)

In [46]:
# get __annotations__

#inspect.get_annotations(coordinate_04)

NameError: name 'inspect' is not defined

In [48]:
display(coordinate_04.__annotations__)

{'lat': float, 'lon': float}

In [55]:
import dataclasses

lat_lon_02 = {"lat":11.111, "lon": 22.222}
dataclasses.replace(coordinate_04, **lat_lon_02)
display(coordinate_04)

Coordinate_04(lat=55.576, lon=37.617)